.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: white; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
}

.project-div {
  background-color: #d0d5db;
  margin: 5px;
  padding: 10px;
}

.todo-div {
  background-color: white;
  margin: 10px;
}
